.schedule {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--background-color);
  box-shadow: 1px 1px 4px 1px var(--shadow-color);
  gap: 5px;
}

.section {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.section:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 4px;
}

.lineContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  gap: 2px;
  padding: 2px;
  min-height: 100px;
  max-width: calc(25% - 80px);
}
