.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--background-color);
  box-shadow: 1px 1px 4px 1px var(--shadow-color);
  gap: 10px;
  height: fit-content;
}
